@using TheSpaceCofffeeAdmin.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<HoaDonBan>;
@{
    ViewData["Title"] = "ListAddItem";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Tìm Kiếm Hóa Đơn Bán</h1>
<div class="bg-secondary rounded h-75 p-4 m-1">


    <table class="table table-dark">


        <thead>

            <tr>

                <th>
                    Mã Hóa Đơn Bán
                </th>
                <th>
                    Mã Khách Hàng
                </th>
                <th> Tên Sản Phẩm </th>
                <th>
                    Mã Kích Thước
                </th>
                <th>
                    Số Lượng
                </th>
                <th>
                    Giá Bán
                </th>
                <th>Giảm Giá</th>
                <th>Tổng Tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaHoaDonBan</td>
                    <td>@item.MaKhachHang</td>
                    <td>@item.TenSanPham</td>
                    <td>@item.MaKichThuoc</td>
                    <td>@item.SoLuong</td>
                    <td>@item.GiaBan</td>
                    <td>@item.GiamGia</td>
                    <td>@item.TongTien</td>
                    <td>
                        <button type="button" class="btn btn-outline-dark"> <a asp-action="EditProduct" asp-route-id="@item.MaHoaDonBan">Edit</a> </button>
                        <button type="button" class="btn btn-outline-dark"> <a asp-action="Details" asp-route-id="@item.MaHoaDonBan">Details</a> </button>
                        <button type="button" class="btn btn-outline-dark"> <a asp-action="Delete" asp-route-id="@item.MaHoaDonBan">Delete</a> </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.PagedListPager(Model, page => Url.Action("FindPayment", new {page= page}), new X.PagedList.Web.Common.PagedListRenderOptions(){
            LiElementClasses = new List<String>{"bg-secondary page-item"},
            PageClasses = new List<String>{"page-link"}
        })

