@using TheSpaceCofffeeAdmin.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TbKhoVatTuCh>
@{
    ViewData["Title"] = "StoreHouse";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using (Html.BeginForm("FindStoreHouse", "Home", FormMethod.Get))
{
    <form class=" d-none d-md-block m-2 p-2">
        @Html.TextBox("searchNameStoreHouse", null, new { @class = "w-75 form-control-sm bg-dark border-0" })
        <button type="submit" class="btn btn-outline-secondary m-2 bg-light">Tìm Kiếm   </button>
        <button type="button" class="btn btn-square btn-outline-secondary m-2"> <a asp-action="AddStoreHouse"><i class="fa fa-plus"></i></a>  </button>
    </form>
}
<h1>Kho </h1>
 <div class="bg-secondary rounded h-75 p-4 m-1">
    
    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                    Cửa Hàng
                </th>
                <th>
                    Mã Vật Tư
                </th>
                <th>
                    Số Lượng
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaCuaHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaVatTu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    
                    <td>
                        <button type="button" class="btn btn-outline-dark"> <a asp-action="Delete" asp-route-id="@item.MaVatTu">Xóa</a> </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
 </div>

@Html.PagedListPager(Model, page => Url.Action("StoreHouse", new {page= page}), new X.PagedList.Web.Common.PagedListRenderOptions(){
            LiElementClasses = new List<String>{"bg-secondary page-item"},
            PageClasses = new List<String>{"page-link"}
        })

