@using TheSpaceCofffeeAdmin.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TbCuaHang>

@{
    ViewData["Title"] = "Store";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@using (Html.BeginForm("FindStore", "Home", FormMethod.Get))
{
    <form class=" d-none d-md-block m-2 p-2">
        @Html.TextBox("searchNameStore", null, new { @class = "w-75 form-control-sm bg-dark border-0" })
        <button type="submit" class="btn btn-outline-secondary m-2 bg-light">Tìm Kiếm   </button>
        <button type="button" class="btn btn-square btn-outline-secondary m-2"> <a asp-action="AddStore"><i class="fa fa-plus"></i></a>  </button>
    </form>
}
    <h1>Cửa Hàng</h1>
<div class="bg-secondary rounded h-75 p-4 m-1">

    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                    Mã Cửa Hàng
                </th>
                <th>
                    Tên Cửa Hàng
                </th>
                <th>
                    Địa Chỉ
                </th>
                <th>
                    Số Điện Thoại
                </th>
                <th>
                    Email
                </th>
                <th>
                    Fanpage
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaCuaHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenCuaHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoDienThoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fanpage)
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-dark"> <a asp-action="EditStore" asp-route-IDCuaHang="@item.MaCuaHang">Sửa</a> </button>
                        <button type="button" class="btn btn-outline-dark"> <a asp-action="Delete" asp-route-id="@item.MaCuaHang">Delete</a> </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.PagedListPager(Model, page => Url.Action("Store", new {page= page}), new X.PagedList.Web.Common.PagedListRenderOptions(){
            LiElementClasses = new List<String>{"bg-secondary page-item"},
            PageClasses = new List<String>{"page-link"}
        })
