@model IEnumerable<TheSpaceCofffeeAdmin.Models.TbSanPham>

@{
    ViewData["Title"] = "FindProduct";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Tìm Kiếm Sản Phẩm</h1>
<div class="bg-secondary rounded h-75 p-4 m-1"> 
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tên Sản Phẩm
                </th>
                <th>
                    Giá Bán
                </th>
                <th>
                    Hình Ảnh
                </th>
                <th>
                    Ghi Chú
                </th>
                <th>
                    Mã Nhóm
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSanPham)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaBan)
                    </td>
                    <td>
                        <img src="@Url.Content("../Admin/images/"+item.HinhAnh)" alt=" Chua cap nhat" style="height:100px;width:100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GhiChu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaNhomSp)
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-dark"> <a asp-action="EditProduct" asp-route-id="@item.MaSanPham">Edit</a> </button>
                        <button type="button" class="btn btn-outline-dark"> <a asp-action="Delete" asp-route-id="@item.MaSanPham">Delete</a> </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

